<p style="color: green"><%= notice %></p>

<%= render @sample_article %>

<div>
  <%= link_to "Edit this sample article", edit_sample_article_path(@sample_article) %> |
  <%= link_to "Back to sample articles", sample_articles_path %>

  <%= button_to "Destroy this sample article", @sample_article, method: :delete %>
</div>
